/* Allgemein layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: arial;
}

header, nav, section, article, footer { 
  display: block; 
}

/* Nav Style und layout */
nav {
  background-color: black;
  overflow: hidden;
}

nav ul {
  list-style: none;
}

nav ul li a, #titlenav {
  float: right;
  color: white;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
  font-size: 20px;
  background-color: black;
}
  
nav ul li a:hover {
  background-color: white;
  color: black;
}
  
nav ul li a.active {
  background-color: white;
  color: black;
}

header {
  position: sticky;
  top: 0;
  height: 100px;
}

#titlenav {
  float:  left;
  font-weight: bold;
}

/* Inhalt layout */
body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

#wrapper {
  width: 80%;
  margin: 0px auto;
  border-radius: 5px;
  padding: 10px;
}


/* Feld layout */
.field {
  border-style: solid;
  border-color: black;
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
}

/* Float und clear */
.left {
  float: left;
  width:  50%;
}

.right {
  float: right;
  width: 50%;
}

.cllfix {
  clear: both;
}

/* Auflistung Style */
div.field ul {
  margin: 20px 20px;
}

div.field li {
  padding: 5px;
  list-style-type: square;
}

/* Tabelle Style */
table {
  border-collapse: collapse;
  margin: 20px 20px;
}

td {
  font-size: 20px;
  padding: 5px;
}

tr {
  border-bottom: 2px solid black;
}

/* Text Style */
h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 5px 15px;
}

p {
  margin: 15px;
}

legend {
  font-size: 1.5em;
  text-align: bold;
  text-transform: uppercase;
  margin: 20px 20px;
  margin-bottom: 10px;
}

/* Element layout */
label {
  margin-bottom: 10px;
}

button {
  margin: 10px !important;
}

/* Bild layout */
.icon{
  float: right; 
  width: 60px;
  margin: 20px ;
}

#port {
  width:  200px;
  margin: 20px;
  float: left;
}

#htmlb{
  height:338px;
  width:338px;
  margin: 20px 20px 20px 60px;
}

img.fade{
  height:338px;
  width:240px;
  margin: 20px 60px;
}

/* Fade */
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

/* Footer Style */

footer {
  background-color: black;
  overflow: hidden;
}

footer ul {
  list-style: none;
}

footer ul li a {
  float: left;
  color: white;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
  font-size: 20px;
  background-color: black;
}

/* Validierung anzeige */
label.error{
  color: red;
}
        
label.valid{
  color: green;
}

input.error{
  border-color: red;
  color: red; 
}

input.valid{
  border-color: green;
}

/* Hinweis */
#hinweis p{
  color: red;
}



